page-login {
  .login-container {
    border-radius: 10px;
    width: 90%;
    text-align: center;
    background-color: white;
  }
  .login-logo {
    vertical-align: center;
    text-align: center;
  }
  .login-form {
    opacity: none !important;
  }
}